In [11]:
import pandas as pd

In [12]:
users = pd.DataFrame()

In [13]:
from random import randrange
from datetime import timedelta

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

In [20]:
import random as random
import string as string
import numpy as np
usersRows = []
nicknameList = []
i = 0
d1 = pd.to_datetime('1/1/2008 1:30 PM', format='%m/%d/%Y %I:%M %p')
d2 = pd.to_datetime('1/1/2009 4:50 AM', format='%m/%d/%Y %I:%M %p')
while i < 1000000:
    nickname = ''.join(random.choice(string.ascii_uppercase + string.digits) for _ in range(6))
    country = ""
    if(i % 2 == 0):
        country = "CO"
    elif (i % 3 == 0):
        country = "PA"
    else:
        country = "AR"
    seguidores = np.random.randint(0, 100000000)
    seguidos = seguidores * np.random.randint(0, 1000) / 1000
    cantidadPublis = np.random.randint(0, 1500)
    usersRows.append((i, nickname, country, random_date(d1, d2), seguidores, seguidos, cantidadPublis))
    nicknameList.append(nickname)
    i = i + 1;
users = pd.DataFrame(usersRows, columns = ['id_usuario' , 'nickname', 'pais' , 'date', 'cantidad_seguidores', 'cantidad_seguidos', 'cantidad_total_publicaciones'])

In [21]:
users

,id_usuario,nickname,pais,date,cantidad_seguidores,cantidad_seguidos,cantidad_total_publicaciones
0,0,ZAL42Z,CO,2008-10-19 10:11:08,31226547,26854830.42,164
1,1,RH1FB0,AR,2008-12-06 20:28:16,15603836,6865687.84,1133
2,2,G7GCB3,CO,2008-08-15 08:36:11,76628220,72030526.80,1345
3,3,WUUHKB,PA,2008-10-17 16:21:22,18211728,10744919.52,1244
4,4,V3IPAR,CO,2008-07-21 22:26:45,45400210,10442048.30,1264
5,5,RLR8GU,AR,2008-02-28 01:22:47,2646589,688113.14,17
6,6,EJXIRT,CO,2008-11-03 05:42:19,65503334,36681867.04,1155
7,7,HW3EIA,AR,2008-09-15 03:24:02,53562085,53026464.15,878
8,8,IDVDXY,CO,2008-04-26 08:28:28,31428940,26714599.00,808
9,9,6BXMVX,PA,2008-10-12 12:07:36,63930754,27490224.22,1247
10,10,IOKL3K,CO,2008-12-06 07:57:36,94161943,24482105.18,686
11,11,73B0IM,AR,2008-09-29 11:56:21,18300643,6222218.62,248
12,12,VXA7JG,CO,2008-04-01 05:47:51,82752314,7447708.26,173
13,13,XU3GT1,AR,2008-11-10 09:52:02,68321333,14347479.93,361
14,14,6LYW9C,CO,2008-09-23 01:09:08,46338753,6950812.95,695
15,15,A8ZRC2,PA,2008-04-27 11:10:12,42454498,28019968.68,1377
16,16,RVW6OI,CO,2008-07-06 13:35:16,17454110,9599760.50,649
17,17,M0DJEU,AR,2008-08-30 15:55:34,7186497,6395982.33,473
18,18,07JZM8,CO,2008-08-03 23:42:43,95066532,55138588.56,472
19,19,PVNDGJ,AR,2008-08-04 16:48:30,70730474,14146094.80,427
20,20,X0Z3P7,CO,2008-01-07 05:09:59,63563061,40680359.04,1498
21,21,EFODTE,PA,2008-02-08 04:28:55,21175466,635263.98,229
22,22,QO6FBR,CO,2008-09-13 13:04:45,79801647,25536527.04,160
23,23,P40LIS,AR,2008-09-09 09:01:28,36079257,15874873.08,376
24,24,7PDQVD,CO,2008-08-23 11:13:38,77585038,27154763.30,1027
25,25,1WGOS8,AR,2008-07-05 21:26:05,7253731,3409253.57,1111
26,26,K46AX0,CO,2008-05-06 20:43:07,57546210,36829574.40,1474
27,27,GGJFBJ,PA,2008-01-13 17:39:00,87074738,76625769.44,1432
28,28,6QQZMB,CO,2008-06-13 14:27:01,47339414,8521094.52,1161
29,29,OAN6JX,AR,2008-11-02 22:38:30,68069144,58539463.84,298
...,...,...,...,...,...,...,...
999970,999970,3AFQZ8,CO,2008-02-07 04:26:40,34590231,6572143.89,777
999971,999971,KVNRHL,AR,2008-12-02 09:58:48,48816092,46863448.32,969
999972,999972,D44FV4,CO,2008-12-10 13:36:08,44727605,18785594.10,60
999973,999973,OCVY0T,AR,2008-11-07 03:47:18,75649719,9077966.28,538
999974,999974,Y9CQ4T,CO,2008-09-25 17:30:04,46212388,29113804.44,1411
999975,999975,H203FO,PA,2008-08-20 09:30:25,27775052,8054765.08,595
999976,999976,LMNF6G,CO,2008-04-06 04:02:38,74091573,35563955.04,225
999977,999977,H0ZKS3,AR,2008-05-13 19:39:35,20606802,618204.06,86
999978,999978,FNT3DJ,CO,2008-07-03 18:21:36,25988243,22869653.84,975
999979,999979,O19YIN,AR,2008-11-09 13:25:06,57839928,39331151.04,513
999980,999980,QZYVJL,CO,2008-04-18 11:25:17,32513209,12029887.33,1021
999981,999981,EMZLYY,PA,2008-06-05 14:45:20,70279796,53412644.96,70
999982,999982,M66PUQ,CO,2008-11-05 02:36:11,79692148,52596817.68,761
999983,999983,1AHVAP,AR,2008-04-30 18:53:38,55945802,36364771.30,126
999984,999984,5JW6MA,CO,2008-01-25 07:12:02,23456154,1876492.32,1198
999985,999985,YL89WA,AR,2008-08-09 11:39:50,75899914,63755927.76,52
999986,999986,MW1GAA,CO,2008-01-11 06:10:58,75539465,43812889.70,1420
999987,999987,GRR9JL,PA,2008-04-01 06:09:33,42927523,7726954.14,582
999988,999988,QO61ZH,CO,2008-12-30 22:17:24,3149239,2393421.64,214
999989,999989,FI1JAB,AR,2008-11-05 21:35:54,78668543,22027192.04,527
999990,999990,WQZZD7,CO,2008-08-01 20:11:26,52057375,25508113.75,227
999991,999991,3B9HWN,AR,2008-11-22 10:08:39,9105898,8832721.06,666
999992,999992,I0MP9X,CO,2008-01-05 04:21:45,50906801,44288916.87,846
999993,999993,X1RDCR,PA,2008-08-09 17:32:52,40451230,37215131.60,419
999994,999994,9AVNFG,CO,2008-08-23 11:00:08,49924338,11482597.74,1201
999995,999995,1POR0N,AR,2008-04-11 03:12:17,75309197,71543737.15,265
999996,999996,YPHD3F,CO,2008-02-25 19:23:52,66167439,36392091.45,1401
999997,999997,TN18NA,AR,2008-07-11 22:49:57,10394728,3430260.24,1162
999998,999998,LRUJRS,CO,2008-11-10 05:43:07,66648203,59316900.67,656
999999,999999,6NA2KP,PA,2008-07-13 21:03:00,63853899,5746850.91,623