In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [2]:
users = pd.DataFrame()

In [3]:
from random import randrange
from datetime import timedelta

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

In [4]:
import random as random
import string as string
import numpy as np
usersRows = []
nicknameList = []
i = 0
d1 = pd.to_datetime('1/1/2008 1:30 PM', format='%m/%d/%Y %I:%M %p')
d2 = pd.to_datetime('1/1/2009 4:50 AM', format='%m/%d/%Y %I:%M %p')
while i < 1000:
    nickname = ''.join(random.choice(string.ascii_uppercase + string.digits) for _ in range(6))
    country = ""
    if(i % 2 == 0):
        country = "CO"
    elif (i % 3 == 0):
        country = "PA"
    else:
        country = "AR"
    seguidores = np.random.randint(0, 100000000)
    seguidos = seguidores * np.random.randint(0, 3000) / np.random.randint(1, 1000)
    cantidadPublis = np.random.randint(0, 1500)
    usersRows.append((i, nickname, country, random_date(d1, d2), seguidores, seguidos, cantidadPublis))
    nicknameList.append(nickname)
    i = i + 1;
users = pd.DataFrame(usersRows, columns = ['id_usuario' , 'nickname', 'pais' , 'date', 'cantidad_seguidores', 'cantidad_seguidos', 'cantidad_total_publicaciones'])

In [5]:
users

,id_usuario,nickname,pais,date,cantidad_seguidores,cantidad_seguidos,cantidad_total_publicaciones
0,0,MFGO5V,CO,2008-12-31 15:37:37,15807750,31982695.12,1142
1,1,NV2YWN,AR,2008-09-24 21:46:49,59453501,155295409.84,1440
2,2,B4S0HS,CO,2008-11-29 09:09:24,17836129,9498318.95,1422
3,3,Q5R2NS,PA,2008-10-16 12:32:11,75663083,2353962582.22,1342
4,4,KJQSHJ,CO,2008-10-04 07:36:23,60165058,168137780.83,1062
5,5,9QNJS8,AR,2008-11-09 01:41:51,19849112,23812489.88,1087
6,6,2WZL8W,CO,2008-07-09 13:14:38,80176877,333367014.89,1484
7,7,YF02IR,AR,2008-11-08 20:30:05,31262354,198255428.28,860
8,8,BQWCFM,CO,2008-07-04 16:22:34,95795882,1225637265.40,281
9,9,ZE6JKJ,PA,2008-05-18 22:54:12,93174003,300734534.18,1379
10,10,78IP3J,CO,2008-06-08 17:38:52,71034544,204607149.69,52
11,11,6MXDR3,AR,2008-09-10 20:59:15,49229494,103781095.46,1255
12,12,6YWGFG,CO,2008-03-02 12:10:42,30667482,1737348515.16,1322
13,13,C1R9XL,AR,2008-08-04 23:22:13,69721428,609447305.93,1235
14,14,FQSE3U,CO,2008-09-21 13:48:20,8242825,41606640.48,824
15,15,QKN7US,PA,2008-05-15 14:56:57,61307121,14112777.85,1108
16,16,5SQKC8,CO,2008-09-24 17:01:26,40132312,75433374.40,714
17,17,2MUXYX,AR,2008-03-21 11:38:07,90890732,94423587.31,349
18,18,87B4G9,CO,2008-04-19 16:52:02,16180794,11850722.37,316
19,19,L2QNUY,AR,2008-02-24 04:26:28,71897417,282288475.96,278
20,20,QET3D2,CO,2008-11-15 02:57:47,44422589,87323856.46,922
21,21,07INWG,PA,2008-08-05 21:34:34,84268621,1044240981.87,671
22,22,8J3LI4,CO,2008-06-17 10:45:36,57443512,88574189.47,1019
23,23,CAV32I,AR,2008-02-09 17:12:48,74664683,667059200.87,1231
24,24,DBPYW9,CO,2008-01-11 05:06:25,30533589,179245068.95,356
25,25,9H0OIN,AR,2008-10-08 18:26:36,45444054,857718900.00,13
26,26,YSDX1R,CO,2008-03-15 19:19:31,46951675,109397402.75,1438
27,27,B9WMWZ,PA,2008-07-12 18:37:34,65088920,169497767.78,1219
28,28,G3I7KT,CO,2008-12-19 18:44:41,17792455,39472337.14,1040
29,29,G9E7DP,AR,2008-02-25 23:04:31,83062389,193812241.00,830
...,...,...,...,...,...,...,...
970,970,H0HA0J,CO,2008-10-02 14:45:50,42431163,102344501.69,1431
971,971,0ER7QH,AR,2008-05-04 09:10:12,41687636,68784599.40,1088
972,972,4R7MHX,CO,2008-10-06 00:51:35,98369362,4183647.89,139
973,973,W2ILYP,AR,2008-07-26 15:29:22,92615631,293252974.75,0
974,974,H8PC2F,CO,2008-01-29 15:40:42,6130981,7442420.79,626
975,975,BINL1U,PA,2008-05-22 07:58:37,73923114,528074522.29,551
976,976,2U82D7,CO,2008-04-12 17:49:41,44645599,137162144.46,746
977,977,U5IT4R,AR,2008-05-11 10:42:33,50879718,154567927.62,780
978,978,U1TB7E,CO,2008-04-24 02:52:49,65314272,34086216.51,246
979,979,NUP5G9,AR,2008-05-29 06:40:40,26412943,203398940.62,1453
980,980,R155D1,CO,2008-04-05 05:56:17,51258098,12615493.65,1460
981,981,RFUCBN,PA,2008-04-27 22:39:33,3859178,2673100.36,543
982,982,MQF9OV,CO,2008-02-28 04:17:22,3899055,23201216.43,1497
983,983,Q2GSVT,AR,2008-05-27 03:56:47,45384817,1021542999.59,1318
984,984,L9JXR7,CO,2008-03-17 00:25:49,59074682,51745045.53,458
985,985,58VBM8,AR,2008-12-09 07:39:17,41721781,202937049.98,608
986,986,KJQWZ2,CO,2008-07-18 16:12:51,84658074,889369875.23,1482
987,987,BD570H,PA,2008-02-29 04:37:00,84102686,141876765.65,281
988,988,ZHF5GR,CO,2008-08-18 06:27:39,38802877,120807525.17,601
989,989,27HXFY,AR,2008-08-10 16:15:36,69510433,35985178.66,372
990,990,VCXB2K,CO,2008-05-11 17:13:26,3662470,5940601.17,573
991,991,FTX4XV,AR,2008-06-01 07:24:37,94582664,48746449.91,755
992,992,KBBZBH,CO,2008-07-16 21:45:54,50881453,21998251.96,1453
993,993,IJV8AT,PA,2008-06-05 03:17:11,56525369,152819574.69,1447
994,994,ZCA2BP,CO,2008-04-27 18:06:37,10262277,96921505.00,509
995,995,DW1CHH,AR,2008-06-08 00:30:59,60144801,131438998.68,1085
996,996,M14FCC,CO,2008-01-17 21:47:10,51030907,10763581.14,525
997,997,8KNX9O,AR,2008-06-25 03:27:21,27266670,68166675.00,870
998,998,U4JWKB,CO,2008-02-19 20:13:44,66544466,28224032.13,672
999,999,4ZJRKR,PA,2008-09-11 13:05:29,48384624,145400732.33,1381

In [6]:
users.sort_values(by="cantidad_seguidores", ascending=False).head(10)

,id_usuario,nickname,pais,date,cantidad_seguidores,cantidad_seguidos,cantidad_total_publicaciones
284,284,Z65C2A,CO,2008-07-06 22:46:02,99969569,465478401.34,1148
338,338,UGI3HR,CO,2008-12-30 13:54:30,99872846,1154627536.68,123
749,749,RR8GGR,AR,2008-05-27 14:17:09,99844703,154494549.91,775
632,632,4A2TTC,CO,2008-07-06 10:23:39,99474585,225909571.54,252
233,233,5J48XJ,AR,2008-10-01 17:07:08,99412548,110615493.78,545
179,179,N571LB,AR,2008-09-04 08:37:12,98923023,152678620.71,1404
771,771,I2ICEP,PA,2008-12-25 02:07:14,98876212,212504116.92,8
925,925,DG3A2P,AR,2008-01-27 05:10:44,98842268,73739469.78,920
763,763,ZTL0Z1,AR,2008-04-15 13:09:53,98770612,302797312.14,675
381,381,77LT2R,PA,2008-07-11 19:23:31,98706747,169051328.06,1045

In [7]:
users["cantidad_seguidores"].max()*80/100

79975655.2

In [8]:
users[((users.cantidad_seguidores * 15/100) >= users.cantidad_seguidos) & (users.cantidad_seguidores >= users["cantidad_seguidores"].max()*60/100)].sort_values(by="cantidad_seguidores", ascending=False).head(10)

,id_usuario,nickname,pais,date,cantidad_seguidores,cantidad_seguidos,cantidad_total_publicaciones
972,972,4R7MHX,CO,2008-10-06 00:51:35,98369362,4183647.89,139
568,568,U0DZU5,CO,2008-08-17 09:34:55,84510841,5683477.61,485
466,466,D5JKAD,CO,2008-12-08 04:15:00,80470859,5647077.82,855
508,508,CFJTMX,CO,2008-07-28 16:10:15,77085135,5203246.61,44
619,619,B5AITO,AR,2008-06-01 03:11:40,76931542,3895267.95,437
847,847,Y281MZ,AR,2008-10-12 20:53:09,73136059,370309.16,470
525,525,QMFHTF,PA,2008-02-24 05:17:54,65062996,2699709.38,1059
711,711,WNTO51,PA,2008-03-28 02:28:43,61858255,1458921.11,583
290,290,KN2JAD,CO,2008-06-10 18:07:18,60658279,866546.84,1076